@import "~src/variables";

.characters {

    width: 100.4rem;
    margin: auto;
    margin-top: 7.8rem;
    margin-bottom: 84.2rem;

    &__search {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        width: 76.8rem;
        height: 4.3rem;
        border-radius: .6rem;
        padding-left: 1.7rem;
        font-family: $font;
        font-weight: $regular;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: #7C828D;
        outline: none;
        border: none;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21.2rem;
        height: 4.3rem;
        border-radius: .6rem;
        background-color: $accent;
        font-family: $font;
        font-weight: $regular;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: #FFFFFF;
    }

    &__table {
        width: 100%;
        margin-top: 4.1rem;
        border-collapse: collapse;
    }
    
    &__row {
        height: 4rem;
        font-family: $font;
        font-weight: $regular;
        line-height: 1.8rem;
        color: #FFFFFF;
        border-radius: .3rem;
        background-color: #2B343B;
        border: .1rem solid #384047;
        box-shadow: 0rem .1rem .3rem rgba(0, 0, 0, 0.11);
        
        &:hover {
            cursor: pointer;
            color: $accent;
            background-color: #384047;
        }
    }

    &__name{
        padding-left: 1.697rem;
        font-size: 1.6rem;
        width: 60.2rem;
    }

    &__species {
        width: 15.6rem;
        font-size: 1.4rem;
    }

    &__status {
        width: 13.7rem;
        font-size: 1.4rem;
    }

    &__gender {
        width: 10.9rem;
        font-size: 1.4rem;
    }

    &__pages {
        display: flex;
        justify-content: center;
        margin-top: 3.2rem;
        font-family: $font;
        font-weight: $regular;
        line-height: 1.8rem;
        font-size: 1.4rem;
        color: #FFFFFF;
    }

    &__page {
        margin: 0 2rem;

        &:hover {
            cursor: pointer;
            color: $accent;
        }
    }
}